/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgba(15, 116, 143, 70%);
    --section-padding: 100px;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 97px;
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Component Heading */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;
    position: relative;
    text-transform: uppercase;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    height: 2px;
    width: 120px;
    background-color: #333;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38px;
    height: 14px;
    width: 14px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: white;
}
.main-heading p {
    width: 550px;
    max-width: 100%;
    margin: 0 auto 100px;
    line-height: 2;
    color: #777;
}
/* End Component Heading */
/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #a2a2a2;
    bottom: 0;
    left: 15px;
}
header .container .logo img {
    height: 40px;
}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}
header .toggle-menu {
    color: white;
    font-size: 22px;
}
@media (min-width:768px) {
    header .toggle-menu {
        display: none;
    }
}
header nav ul {
    display: flex;
}
@media (max-width:767px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
    header nav .toggle-menu:hover + ul li a {
        padding: 15px;
    }
}
header nav ul li a {
    display: block;
    padding: 40px 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}
header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header .form {
    width: 40px;
    height: 30px;
    border-left: 1px solid white;
    margin-left: 30px;
    position: relative;
}
header .form i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End Header */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.landing .overlay .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: white;
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}
.landing .overlay .text .content {
    max-width: 500px;
}
@media (max-width: 767px) {
    .landing .overlay .text {
        width: 100%;
    }
    .landing .overlay .text .content {
        max-width: 100%;
    }
}
.landing .overlay .text h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 20px;
}
.landing .overlay .text p {
    font-size: 14px;
    line-height: 2;
}
.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: whitesmoke;
    font-size: 25px;
}
.landing .fa-angle-left {
    left: 30px;
}
.landing .fa-angle-right {
    right: 30px;
}
@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}
.landing ul {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.landing ul li {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;
}
.landing ul li.active {
    background-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width:768px) {
    .services-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 40px 20px;
    }
}
.services-content .srv {
    margin-bottom: 40px;
    display: flex;
}
.services-content .srv i {
    margin-right: 50px;
}
@media (max-width: 767px) {
    .services-content .srv {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .services-content .srv i {
        margin: 0 0 30px;
    }
}
.services-content .srv .text h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}
.services-content .srv p {
    color: #777;
    line-height: 2;
}
/* End Services */
/* Start Services */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image {
    text-align: center;
}
.design .image img {
    position: relative;
    bottom: -150px;
}
@media (max-width:767px) {
    .design .image {
        display: none;
    }
}
.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}
.design .text h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: normal;
}
.design .text ul li {
    padding: 10px 0 20px;
}
.design .text ul li::before {
    content: "\f390";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 20px;
}
/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .shuffle ul {
    display: flex;
    justify-content: center;
}
.portfolio .shuffle ul li {
    padding: 10px;
}
.portfolio .shuffle ul li.active {
    background-color: var(--main-color);
    color: white;
}
.imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.imgs-container .box {
    overflow: hidden;
    position: relative;
}
.imgs-container .box:hover .caption {
    bottom: 0;
}
.imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
@media (min-width:768px) {
    .imgs-container .box {
        flex-basis: 50%;
    }
}
@media (min-width:1199px) {
    .imgs-container .box {
        flex-basis: 25%;
    }
}
.imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}
.imgs-container .box .caption {
    position: absolute;
    bottom: -100%;
    background-color: white;
    width: 100%;
    padding: 20px;
    transition: 0.3s;
}
.imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.imgs-container .box .caption p {
    color: var(--main-color);
}
.more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
/* End Portfolio */
/* Start Video */
.video {
    position: relative;
}
.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.video video {
    width: 100%;
}
.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--transparent-color);
    padding: 50px;
    color: white;
}
.video .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.video .text p {
    margin-bottom: 30px;
}
.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
}
/* End Video */
/* Start About */
.about {
    padding-top: var(--section-padding);
    text-align: center;
    overflow: hidden;
}
.about img {
    position: relative;
    top: 120px;
    max-width: 100%;
    margin-top: -120px;
    max-width: 100%;
}
@media (max-width:767px) {
    .about img {
        top: 60px;
        margin-top: -60px;
    }
}
/* End About */
/* Start Stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative;
    text-align: center;
}
.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.stats .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.stats .box {
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
    flex-basis: 25%;
}
@media (max-width:767px) {
    .stats .box {
        flex-basis: 100%;
    }
}
@media (min-width:768px) {
    .stats .box {
        flex-basis: 50%;
    }
}
@media (min-width:992px) {
    .stats .box {
        flex-basis: 25%;
    }
}
.stats .box i {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}
.stats .box .number {
    font-weight: bold;
    font-size: 50px;
    margin:0 0 30px;
}
.stats .box p {
    font-size: 14px;
}
/* End Stats */
/* Start Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.our-skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width:992px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}
.our-skills .container > div > h3 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.our-skills .container > div > p {
    color: #777;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 60px;
}
.our-skills .testimonials .content {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.our-skills .testimonials img {
    width: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
@media (max-width:767px) {
    .our-skills .testimonials .content {
        flex-direction: column;
        text-align: center;
    }
    .our-skills .testimonials .content img {
        margin-bottom: 20px;
    }
}
.our-skills .testimonials .text {
    line-height: 2;
    border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .text p {
    color: #777;
    margin-bottom: 10px;
    text-align: right;
    font-size: 14px;
}
.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px;
}
.our-skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-left: 10px;
}
.our-skills .testimonials .bullets li.active {
    background-color: var(--main-color);
}
.our-skills .skills .prog-holder {
    margin-bottom: 50px;
}
.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: normal;
}
.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}
.our-skills .skills .prog-holder span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.our-skills .skills .prog-holder span::before {
    content: attr(data-progress);
    position: absolute;
    top: -40px;
    right: -18px;
    background-color: black;
    color: white;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}
.our-skills .skills .prog-holder span::after {
    content: "";
    position: absolute;
    top: -15px;
    right: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: black transparent transparent;
}
/* End Skills */
/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/quote.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}
.quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
.quote .container {
    position: relative;
}
.quote q {
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}
/* End Quote */
/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.pricing .plan {
    background-color: #fcfcfc;
    text-align: center;
}
.pricing .plan .head {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding: 40px 20px;
}
.pricing .plan .head h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.pricing .plan .head span {
    font-weight: bold;
    font-size: 60px;
}
.pricing .plan .head span::before {
    content: "$";
    font-size: 25px;
    font-weight: normal;
    position: relative;
    top: -40px;
    margin-right: 15px;
}
.pricing .plan .head span::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px;
}
.plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}
.plans .plan ul li {
    padding: 20px;
    position: relative;
}
.plans .plan ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.plans .plan .foot {
    display: flex;
    justify-content: center;
    align-items: center;
}
.plans .plan .foot a {
    display: block;
    text-decoration: none;
    padding: 20px;
    margin: 30px 0;
    border: 1px solid var(--main-color);
}
.pricing .container > p {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}
.pricing .container > a {
    display: block;
    width: fit-content;
    padding: 15px 30px;
    text-align: center;
    margin: 20px auto 0;
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
}
.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.subscribe .container {
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    gap: 50px;
}
@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
        gap: 30px;
    }
}
.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}
.subscribe form input[type="email"] {
    padding: 20px 20px 20px 60px;
    background: none;
    border: 1px solid white;
    border-right: none;
    width: calc(100% - 130px);
    color: var(--main-color);
}
.subscribe form input[type="submit"] {
    width: 130px;
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}
.subscribe form input::placeholder {
    color: white;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
    outline: none;
}
.subscribe p {
    line-height: 2;
}
/* End Subscribe */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .contact-box {
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px) {
    .contact .contact-box {
        flex-direction: column;
    }
}
.contact .contact-box form {
    flex-basis: 70%;
}
.contact .contact-box form input {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}
.contact .contact-box form textarea {
    height: 200px;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
}
.contact .contact-box form input[type="submit"] {
    width: fit-content;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    margin-left: auto;
    cursor: pointer;
    border: none;
}
.contact .contact-box form input:focus,
.contact .contact-box form textarea:focus {
    outline: none;
}
.contact .contact-box .info {
    flex-basis: 25%;
}
.contact .contact-box .info .phone h4 {
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact .contact-box .info .phone p {
    color: #777;
    margin-bottom: 10px;
}
.contact .contact-box .info .location h4 {
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 30px;
}
.contact .contact-box .info .location address {
    color: #777;
    line-height: 1.8;
}
/* End Contact */
/* Start Footer */
footer {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
}
footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
footer .container {
    position: relative;
    text-align: center;
    color: white;
}
footer .container img {
    margin-bottom: 20px;
}
footer .container p {
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}
footer .container .social i {
    padding: 10px 15px;
}
footer .container .copyright {
    margin-top: 60px;
}
footer .container .copyright span {
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer */